


</body>

<footer style="background-color:wheat;height: 105px;width: 101%;margin-left: -8px;border: 0px solid red;
    position:relative; bottom: 0%;margin-top: 2.2%;">
    <p style="font-size: 20px;text-align: center;margin-top: 0px;border: 0px solid red;overflow: auto;padding: 27px;">
        &copy; Made by Tushar Singla <br>2021</p>
</footer>

</html>