




<%- include("header") -%>

<div style="border: 0px solid red;overflow: auto;margin-top: 3%;">
    <div style="float: left;width: 500px;border: 0px solid red;margin-left: 10%;padding: 10px;">
        <h1 style="margin: 25px 0px 0px 0%;font-size: 40px;">Make Transactions Easy With Sparks Banking System</h1>
        <h6 style="font-size: 20px;"><strong></strong> 1st Advantage Bank – Expertise you need. Service you deserve!<br><br>
        <strong>Easy Banking</strong><br>....it's Not Just Banking  it's a LifeStyle </h6>
    </div>
    <div style="margin: 0% 0px 0px 50%; border: 0px solid red; overflow: auto; width: 600px;">
        <img src="https://www.theleaflet.in/wp-content/uploads/2021/03/bank-agencies1.jpeg" alt="" height="400px" width="600px">
    </div>
</div>

<%- include("footer") -%>